<!DOCTYPE html>
<html>
	<head>
		<title>Help</title>
		<link rel="icon" href="/img/weather.png">
		<link rel="stylesheet" href="/css/styles.css">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<div class="help-content">
				<p class="help-title">This is the help page </p>
				<p class="help-description"> For more information about the weather please visit <a href='https://weather.com/'>The Weather Channel.</a></p>
			</div>
		</div>
		{{>footer}}
	</body>
</html>
