<!DOCTYPE html>
<html>
	<head>
		<title>Weather</title>
		<link rel="icon" href="/img/weather.png">
		<link rel="stylesheet" href="/css/styles.css">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		
	</head>
	<body >
		<div class='main-content'>
			{{>header}}
			<form>
				<input placeholder="Location">
				<button>Search</button>
			</form>
			<div class='search-content'>
				<p id='message-1'></p>
				<p id='message-2'></p>
			</div>
		</div>
		{{>footer}}
		<script src="/js/app.js"></script>
	</body>
</html>
