body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

h1 {
	font-size: 64px;
}

header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}

.portrait {
	width: 250px;
}

.main-content {
	flex-grow: 1;
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #888888;
	background: #888888;
	color: #ffff;
	padding: 8px;
}

.search-content {
	padding: 20px 0;
	font-size: 32px;
	line-height: 1.5;
}

.help-content {
	font-size: 24px;
	padding: 0 16px;
	line-height: 1.5;
}

.help-title {
	text-align: center;
}

.help-description {
	padding-top: 40px;
	font-size: 20px;
	text-align: justify;
}
p a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
p a:hover {
	color: #888888;
}

.about-content {
	font-size: 26px;
}

@media screen and (max-width: 1025px) {
	body {
		background-color: black;
	}

	header {
		justify-content: center;
		color: #fff;
	}

	h1 {
		font-size: 48px;
		display: flex;
		text-align: center;
		justify-content: center;
		padding: 30px 30px;
	}

	.nav-bar {
		font-size: 24px;
	}

	form {
		display: flex;
		justify-content: center;
	}

	button {
		margin-left: 10px;
	}

	.search-content {
		display: flex;
		flex-direction: column;
		padding: 12px 12px;
		color: #fff;
	}

	#message-1 {
		text-align: center;
		font-size: 26px;
	}

	#message-2 {
		line-height: 2.5;
		text-align: center;
		font-size: 17px;
	}

	img {
		display: flex;
		margin: auto;
		padding-top: 40px ;
	}

	.help-content {
		color: #ffff;
		font-size: 24px;
		padding: 0 16px;
		line-height: 1.5;
	}

	p a {
		color: #fff;
	}

	.about-content {
		font-size: 18px;
		color: #fff;
	}
}
